<% @comments.each do |comment| %>
  <div class="comment-box mb-3">
    <div class="flex-between">
      <div class="comment-user flex">
        <!-- ユーザーの画像 -->
        <div>
          <% if comment.user.user_image? %>
            <%= link_to (image_tag comment.user.user_image.url, class: "user-image"), user_path(comment.user.id) %>
          <% else %>
            <%= link_to (image_tag "user_default", class: "user-image"), user_path(comment.user.id) %>
          <% end %>      
        </div>
        <!-- ユーザー名 -->
        <div class="comment-user-name pl-2">
          <%= link_to comment.user.name, user_path(comment.user), class: "txt-xs thin-font" %>
        </div>
      </div>
      <div class="edit-delete">
        <% if current_user == comment.user %>
          <%= link_to edit_book_review_comment_path(comment.review.book, comment.review, comment) do %>
            <i class="far fa-edit fa-lg m-1"></i>
          <% end %>
          <%= link_to [comment.review.book, comment.review, comment], method: :delete, remote: true do  %>
            <i class="fas fa-trash fa-lg m-1"></i>
          <% end %>
        <% end %>  
      </div>
    </div>
    <!-- コメント -->
    <div class="comment">
      <%= simple_format(comment.content, class: "thin-font pt-2 txt-xxs") %>    
    </div>
  </div>
<% end %>