<div class="row">
  <div class="col-md-6 comment_area">
    <%= render "comments/comment_area" %>
  </div>
  <div class="col-md-6">
    <%= form_with(model:[@review.book, @review, @comment]) do |f|%>
      <%= f.text_area :content, class:"form-control mb-2", rows: 3 %>
      <%= f.hidden_field :review_id, value: @review.id %>
      <%= f.submit 'コメントする', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>