<div class="book-review-box">
  <div class="review-content">
    <%= link_to book_review_path(review.book, review) do %>
      <div class="flex mb-3">
        <div> 
          <% if review.user.user_image? %>
            <%= image_tag(review.user.user_image.url, class: "user-image") %>
          <% else %>
            <%= image_tag("user_default.png", class: "user-image") %>
          <% end %>
        </div>
        <p class="thin-font pt-2 pl-2"><%= review.user.name %></p>
      </div>
      <div class="review-content-detail flex">
        <div class="review-content-image">
          <%= image_tag(review.book.image_url, class: "book-image") %>
        </div>
        <div class="pl-3">
          <p class="mb-1"><%= review.book.title %></p>
          <p class="thin-font txt-xxs txt-author"><%= review.book.author %></p>
          <%= simple_format(strip_tags(review.content).truncate(80), class:"thin-font margin-0") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="review-sub mt-2">
    <div class="flex">
      <div class="favo-comment favorite_buttons_<%= review.id %>"><%= render "favorites/favorite_button", review: review %></div>
      <div class="favo-comment pl-1"><i class="far fa-comment fa-lg"></i><small class="subscript"><%= review.comments.count %></small></div>
    </div>
    <small class="text-muted"><%= time_ago_in_words(review.updated_at).upcase %>前</small>
  </div>
</div>