<div class="container">
  <div class="text-center">
    <div class="headline mt-5 mb-5">
      <p class="txt-l margin-0"> <%= @book.title %></p>
    </div>
  </div>
  <div class="row">
    <div class="flex col-md-6">
      <diV>
        <%= image_tag(@book.image_url, class: "book-image-l") %>
      </diV>
      <div class="ml-3 mt-3">
        <p class="txt-author txt-xs">著者名：<%= @book.author %></p>
        <div class="mt-5 ml-4">
          <div class="content"><%= link_to "レビューを書く", book_path(@book),class: "submit-btn js-modal-open" %></div>
          <div class="mt-4 mb-4" id="register_buttons_<%= @book.id %>"><%= render "bookcases/register_button" %></div>
          <%= link_to "楽天購入ページへ", @book.url, class: "purchase-btn" %>
        </div>
      </div>
    </div>
    <div class="bg-gray col-md-6">
      <p class="mt-2 ml-2"><b>＜レビュー一覧＞</b></p>
      <% if @reviews.exists? %>
        <% @reviews.each do |review| %>
          <div class="book-review-box">
            <div class="review-content">
              <%= link_to book_review_url(review.book, review) do %>
                <div class="flex mb-3">
                  <div> 
                    <% if review.user.user_image? %>
                      <%= image_tag(review.user.user_image.url, class: "user-image") %>
                    <% else %>
                      <%= image_tag("user_default.png", class: "user-image") %>
                    <% end %>
                  </div>
                  <p class="thin-font pt-2 pl-2"><%= review.user.name %></p>
                </div>
                <div class="review-content-detail">
                  <%= simple_format(strip_tags(review.content).truncate(60), class:"thin-font margin-0") %>
                </div>
              <% end %>
            </div>
            <div class="review-sub mt-2">
              <div class="flex">
                <div class="favorite_buttons_<%= review.id %>"><%= render "favorites/favorite_button", review: review %></div>
                <div class="pl-3"><i class="far fa-comment fa-lg"></i><small class="subscript"><%= review.comments.count %></small></div>
              </div>
              <small class="text-muted"><%= time_ago_in_words(review.updated_at).upcase %>前</small>
            </div>
          </div>
        <% end %>
        <%= paginate @reviews %>
      <% else %>
      <p class="ml-2">レビューはまだありません。</p>
      <% end %>
    </div>
  </div>
</div>
<%= render "reviews/review_new" %>