<div class="row">
  <div class="col-3">
    <%= image_tag(@book.image_url, class: "book-image") %>
  </div>
  <div class="col-9">
    <div>
      <%= @book.title %>
      <%= @book.author %>
    </div>
    <div>
      <%= link_to "レビューを書く", new_book_review_path(@book) %>
      <div id="register_buttons_<%= @book.id %>"><%= render "bookcases/register_button" %></div>
      <%= link_to "楽天購入ページへ", @book.url %>
    </div>
  </div>
</div>
<div class="book_review_boxs">
  <% @book.reviews.each do |review| %>
    <div class="book_review_box"> 
      <%= link_to book_review_url(review.book, review) do %>
        <div class="review-content">
          <div class="review-content-detail">
            <div class="review-content-user">
              <div classs="mr-2"> 
                <% if review.user.user_image? %>
                  <%= link_to (image_tag review.user.user_image.url, class: "user-image"), user_url(review.user)  %>
                <% else %>
                  <%= image_tag("user_default.png", class: "user-image") %>
                <% end %>
              </div>
              <div class="user-name">
                <p><%= review.user.name %></p>
                <p><%= review.updated_at %></p>
              </div>
            </div>
            <p><%= simple_format(strip_tags(review.content).truncate(10)) %></p>
          </div>
        </div>
        <div class="reactions">
          <a>いいね</a>
          <a>コメント</a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>