<p class='review-alert'>レビューは1200文字以内で入力してください</p>
<div class="modal-form">
  <%= form_with(model: [@book, @review], local:true) do |f| %>
    <div class="p-4">
      <%= f.text_area :content, class: "p-2 modal-textarea",id: "review-textarea", placeholder: "ここにレビューを記載してください（1200文字以内）", rows: 10 %>
    </div>
      <%= f.hidden_field :book_id, value: @book.isbn %>

    <div class="bg-gray review-submit text-center p-3">
      <%= f.submit '下書きする', class: 'review-submit-btn mr-3 txt-xs' %>
      <%= f.submit '公開する', class: 'review-submit-btn txt-xs', data: { confirm: "公開してもよろしいですか？" } %>
    </div>
  <% end %>
</div>